<div fxFill fxLayout="row" class="">
  <div fxFlex="50" fxLayout="column" fxLayoutAlign="center stretch">
    <img src="../../assets/img/login-image.jpg">
  </div>
  <div class="lightgray-bg login-form" fxFlex="50" fxLayout="column" fxLayoutAlign="center stretch">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div class="margin-bottom-1em" *ngIf="isLogin" fxLayout="column" fxLayoutAlign="center center">
        <h2 class="remove-margin">Customer Login</h2>
        <p class="remove-margin">Welcome back, login below!</p>
      </div>
      <div *ngIf="!isLogin" fxLayout="column" fxLayoutAlign="center center">
        <h2 class="remove-margin">Customer Registration</h2>
        <p class="remove-margin ">Hello, register below!</p>
      </div>
      <form *ngIf="isLogin" #loginForm="ngForm" fxLayoutAlign="center center">
        <div fxFlex="50" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="column" fxLayoutAlign="start stretch" >
            <label class="bold-text">Email</label>
            <mat-form-field floatLabel='never' appearance="legacy">
              <input required #email="ngModel" [(ngModel)]="login.email" type="text" name="email" matInput
                placeholder="Enter email" />
                    <mat-icon matSuffix class="primary">mail</mat-icon>
              <mat-error *ngIf="submitted && loginForm.invalid || (email.invalid || email.touched) || email.errors?.required">Email is required!
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutAlign="start stretch" >
            <label class="bold-text">Password</label>
            <mat-form-field floatLabel='never' appearance="legacy">
              <input required #password="ngModel" [(ngModel)]="login.password" [type]="(showPassword) ? 'text' : 'password'" name="password" matInput
                placeholder="Enter password" />
                    <mat-icon (click)="showPassword = !showPassword" matSuffix class="primary">{{(showPassword) ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="submitted && loginForm.invalid || (password.invalid || password.touched) || password.errors?.required">Password is required!
              </mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="end center">
              <p class="primary pointer remove-margin" (click)="openResetDialog()" >Forgot password?</p>
            </div>
          </div>
          <div class="margin-top-1em" fxLayout="column" fxLayoutAlign="start stretch" >
          <button (click)="loginUser(loginForm)" mat-raised-button class="primary-bg white uppercase-text rounded-btn bold-text">Login</button>
          </div>
          <div class="margin-top-1em" fxLayout="row" fxLayoutAlign="center" >
            <p class="remove-margin">Don't have an account? <span (click)="isLogin = !isLogin" class="bold-text primary pointer">Create Account</span></p>
            </div>
        </div>
      </form>
      <form *ngIf="!isLogin" #registerForm="ngForm" fxLayoutAlign="center center">
        <div fxFlex="50" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="column" fxLayoutAlign="start stretch" >
            <label *ngIf="false" class="bold-text">Name</label>
            <mat-form-field floatLabel='never' appearance="legacy">
              <input pattern="[a-zA-Z]+\s[a-zA-Z]+" required #name="ngModel" [(ngModel)]="register.name" type="text" name="name" matInput
                placeholder="Enter full name" />
                    <mat-icon matSuffix class="primary">person</mat-icon>
              <mat-error *ngIf="(submitted && registerForm.invalid) || (name.touched && name.errors?.required)">Name is required!
              </mat-error>
              <mat-error *ngIf="submitted || (name?.dirty && name.errors?.pattern)">Enter first and last names with a single space!
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutAlign="start stretch" >
            <label *ngIf="false" class="bold-text">Phone</label>
            <mat-form-field floatLabel='never' appearance="legacy">
              <input required #phone="ngModel" [(ngModel)]="register.phone" type="text" name="phone" matInput
                placeholder="Enter phone" />
                    <mat-icon matSuffix class="primary">phone</mat-icon>
              <mat-error *ngIf="submitted && registerForm.invalid || (phone.invalid || phone.touched) || phone.errors?.required">Phone is required!
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutAlign="start stretch" >
            <label *ngIf="false" class="bold-text">Email</label>
            <mat-form-field floatLabel='never' appearance="legacy">
              <input required #email="ngModel" [(ngModel)]="register.email" type="text" name="email" matInput
                placeholder="Enter email" />
                    <mat-icon matSuffix class="primary">mail</mat-icon>
              <mat-error *ngIf="submitted && registerForm.invalid || (email.invalid || email.touched) || email.errors?.required">Email is required!
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutAlign="start stretch" >
            <label *ngIf="false" class="bold-text">Password</label>
            <mat-form-field floatLabel='never' appearance="legacy">
              <input required #password="ngModel" [(ngModel)]="register.password" type="text" name="password" matInput
                placeholder="Enter password" />
                <mat-icon (click)="showPassword = !showPassword" matSuffix class="primary">{{(showPassword) ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="submitted && registerForm.invalid || (password.invalid || password.touched) || password.errors?.required">Password is required!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="margin-top-1em" fxLayout="column" fxLayoutAlign="start stretch" >
          <button (click)="registerUser(registerForm)" mat-raised-button class="primary-bg white uppercase-text rounded-btn bold-text">Register</button>
          </div>
          <div class="margin-top-1em" fxLayout="row" fxLayoutAlign="center" >
            <p class="remove-margin">Already have an account? <span (click)="isLogin = !isLogin" class="bold-text primary pointer">Login</span></p>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
