<div fxLayout="row" fxFill>
  <div fxFlex="100" fxLayout="column" fxLayoutAlign="stretch stretch">
    <h2 class="remove-margin">Reset Password</h2>
    <form #captureEmailForm="ngForm">
      <div fxLayout="column" fxLayoutAlign="stretch stretch">
        <mat-form-field floatLabel='never' appearance="legacy">
          <input required #email="ngModel" [(ngModel)]="reset.email" type="text" name="email" matInput
            placeholder="Enter email" />
          <mat-icon matSuffix class="primary">mail</mat-icon>
          <mat-error
            *ngIf="submitted && captureEmailForm.invalid || (email.invalid || email.touched) || email.errors?.required">
            Email is required!
          </mat-error>
        </mat-form-field>
        <div class="margin-top-1em" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="47" fxLayout="column" fxLayoutAlign="center stretch">
            <button (click)="captureUserEmail(captureEmailForm)" mat-raised-button
              class="primary-bg white uppercase-text rounded-btn bold-text">Submit</button>
          </div>
          <div fxFlex="47" fxLayout="column" fxLayoutAlign="center stretch">
            <button color="warn" (click)="closeDialog()" mat-raised-button
              class=" white uppercase-text rounded-btn bold-text">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
