<div class="splide" role="group">
  <div class="splide__track">
    <div class="splide__list full-height">
      <div class="splide__slide full-height">
        <div fxFill fxLayout="column" fxLayoutAlign="center start" class="full-width full-height slider-img"
          [style]="item.url" title="">
          <div class="full-height text-wrapper" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="1rem">
          <h1 class="white uppercase-text large-font">NEW ARRIVALS <br> <h3 class="med-font">Up to <span class="red">20%</span> off!</h3> </h1>
          <button mat-raised-button class="primary-bg white uppercase-text">Shop Now!</button>
        </div>
        </div>
      </div>
    </div>
  </div>
