<div class="splide" role="group">
  <div class="splide__track">
    <div class="splide__list full-height">
      <div class="splide__slide full-height">
        <div fxFill fxLayout="column" fxLayoutAlign="center start" class="full-width full-height slider-img"
          [style]="item.url" title="">
          <div class="full-height" fxLayout="column" fxLayoutAlign="center start"  style="margin-left: 10%;" fxLayoutGap="1rem">
          <h1 class="white uppercase-text" style="font-size: 4em;">NEW ARRIVALS <br> <h3 style="font-size: 2rem !important; margin: auto;">Up to <span style="color: red">20%</span> off!</h3> </h1>
          <button mat-raised-button class="primary-bg white uppercase-text">Shop Now!</button>
        </div>
        </div>
      </div>
    </div>
  </div>
