/* You can add global styles to this file, and also import other style files */
@import url(./splide.scss);

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body,
.remove-margin {
  margin: 0 !important;
}

// Theme Colors
// $primary: #307abd;
$primary: #2F56E9;
$primaryLight: lighten($primary, 20%);
$black: #000;
$white: #fff;
$dimgray: #666;
$lightgray: #f8f6f7;
$red: red;

.primary {
  color: $primary;
}

.primary-light {
  color: $primaryLight;
}

.black,
.active,
.nav-link:hover {
  color: $black;
}

.white {
  color: $white;
}

.dimgray,
.mat-form-field-appearance-legacy .mat-form-field-label {
  color: $dimgray;
}

.light-gray {
  color: $lightgray;
}

.red {
  color: $red;
}

// Background Colors
.primary-bg {
  background-color: $primary  !important;
}

.primary-light-bg {
  background-color: $primaryLight;
}

.black-bg,
.nav-wrapper .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  background-color: $black;
}

.white-bg,
.search-wrapper {
  background-color: $white;
}

.dimgray-bg {
  background-color: $dimgray;
}

.lightgray-bg {
  background-color: $lightgray;
}

.login-bg {
  background: url(assets/img/login-image.jpg);
  background-size: cover;
}

// Dimensioning
.full-width {
  width: 100%;
}

// Navigation

.logo {}

.search-wrapper {
  border: 1px solid $dimgray;
  border-radius: 50px;
  height: 2.5rem;

  .mat-input-element {
    padding-top: 0.5rem !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent !important;
    display: none !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    font-size: 1rem !important;
    font-style: italic !important;
    margin-top: .35rem;
  }
}

// Spacing
.padding-1rem {
  padding: 1rem 0;
}

.padding-1rem-around {
  padding: 1rem;
}

.margin-top-1em {
  margin-top: 1em !important;
}

.margin-bottom-1em {
  margin-bottom: 1em !important;
}

// Pointer
.pointer {
  cursor: pointer;
}

.bold-text {
  font-weight: bold;
}

.nav-wrapper {
  height: 50px;
}

.full-height {
  height: 100%;
}

.shop-now-btn {
  padding: 0.2rem 1.5rem;
  font-size: 1em;
  font-weight: 500;
}

.uppercase-text {
  text-transform: uppercase;
}

.nav-link:hover {
  transition: all 0.5s;
}

.large-font {
  font-size: 4rem !important;
}

.med-font {
  font-size: 2rem;
  margin: auto;
}

.slider-img .text-wrapper {
  margin-left: 10%;
}

.centered-form {
  height: 65vh;
}

.login-form {
  border-radius: 50px 0 0 0;
}

.rounded-btn {
  border-radius: 1em !important;
  padding: 0.4em !important;
  font-size: 1em;
}
